html {
    height: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    height: 100%;
}
header {
    background-color: #F2F5FF;
    height: 100%;
}
.heading {
    text-align: center;
}
h1 {
    font-size: 16px;
    font-weight: 700;
    padding: 30px 0 0 0;
    margin: 0;
}
h2 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.button {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 50px;
}
button {
    background-color: #F2F5FF;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #0060FF;
}
.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 539px;
    height: 200px;
    border: 1px dashed #0060FF;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s;
}
.drag.dragover {
    background-color: #E6E6FA;
}
h3 {
    font-size: 14px;
    font-weight: 400;
    color: #ADC0F8;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h3 {
    padding: 0;
    margin: 0;
}
.h2 {
    margin-bottom: 12px;
}
#uploadIcon {
    padding-bottom: 24px;
    width: 50px;
    height: 50px;
}
.tab {
    cursor: pointer;
    color: #ADC0F8;
 }
 .tab1 {
    cursor: pointer;
    color: #0060FF;
 }
#fileInput {
     display: none;
}
.file {
    color: white;
    border-radius: 7px;
    background-color: #0060FF;
    font-size: 12px;
    font-weight: 600;
    width: 539px;
    height: 39px;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.generation {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    width: 539px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.link {
    background-color: #FAFAFA;
    border: 1px solid #0060FF;
    border-radius: 10px;
    width: 504px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}
.name {
    color: #0B0B0B80;
    font-size: 14px;
    font-weight: 400;
}
.copy {
    width: 59px;
    height: 30px;
    color: white;
    background-color: #0060FF;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}